CityCare Appointment Chatbot.json
{
  "name": "CityCare Appointment Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        -96
      ],
      "id": "822a44e2-542c-435e-9fc5-f8e5062a656d",
      "name": "When chat message received",
      "webhookId": "6558c612-d851-4aea-827e-7e5205454d09"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are CityCare Hospital Assistant. \nYou help patients by answering questions using the FAQ data from Google Sheets. \nEach row has a “Question” and “Answer” column. \nIf a user asks a question that matches or is similar, reply using the relevant Answer. \nIf no match is found, respond politely that you will forward it to the hospital staff.\n\n\n",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -448,
        -128
      ],
      "id": "5c5d1b2c-4bff-42c1-af75-54ae801c63c9",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        128
      ],
      "id": "0d59d590-4381-412d-9668-e029eef688f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J5pfAql7sEKSL0wK1h9lSQOLkB9gqjQvD7Wu7uEoEhs",
          "mode": "list",
          "cachedResultName": "Copy of Hospital_Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J5pfAql7sEKSL0wK1h9lSQOLkB9gqjQvD7Wu7uEoEhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J5pfAql7sEKSL0wK1h9lSQOLkB9gqjQvD7Wu7uEoEhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name |",
              "displayName": "Name |",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email |",
              "displayName": "Email |",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Department",
              "displayName": " Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -272,
        80
      ],
      "id": "001c3760-f5ad-4e9d-8678-7280e98eef94",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PT6SGOA84qkFP5Ks",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        80
      ],
      "id": "ba7d78fd-3be7-4946-93aa-53956f3702bb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Yp2QtVo2PhGfc1DY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18bKKpnscAPiN7NcF4e09OQ-e4sdTPQv4jOJBUa17FFE",
          "mode": "list",
          "cachedResultName": "Copy of CityCare_FAQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bKKpnscAPiN7NcF4e09OQ-e4sdTPQv4jOJBUa17FFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bKKpnscAPiN7NcF4e09OQ-e4sdTPQv4jOJBUa17FFE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        112
      ],
      "id": "a68764b2-3dc1-4a48-a538-ae4e70eb5ba6",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g0N0gho97z8cK1bi",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -96,
        128
      ],
      "id": "afb4db11-3cee-4af4-a4ff-09d32ce14801",
      "name": "Send a message in Gmail",
      "webhookId": "07e79839-f93d-4f6f-b97c-5e5f686aa567",
      "credentials": {
        "gmailOAuth2": {
          "id": "SSxbMAHZFU6KX0H3",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "919d1fa1-750b-4386-b73b-63307ca7a65c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "833a4a1e8a520c3fe1c6e2f20ddd97cdb804873e85dc8711ea517b9a2c206a6a"
  },
  "id": "Edze7wbMQk64keFs",
  "tags": []
}